* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f6f6e6;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
  text-align: center;
}

.wrapper {
  background: #00FA9A;
  height: 100%;
  padding: 0;
  text-align: center;
}

  .wrapper h1 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    align-items: center;
    color: #003f71;
    font-size: 46px;
    padding: 5px 0;;
  }

  .wrapper p {
    padding: 10px 0;
    font-family: 'Hind', sans-serif;
  }

.selected, .thumbnails {
  background-color: #3CB371;
  margin: 0 10px;
  padding: 5px;
  font-size: 24px;
  display: flex;
  align-items: center;
  font-family: 'Anton', sans-serif;
  color: white;
  border-radius: 25px;
}

  .thumbnails {
    margin: 30px 60px;
  }

  .selected p {
    padding: 5px 0;;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
  }

  .selected h2 {
    padding: 5px 0;;
    font-size: 26px;
    font-family: 'Hind', sans-serif;
  }

  #img {
    text-align: center;
    height: 80%;
    width: 80%;
    margin-bottom: 20px;
  }

  .holder img {
    height: 100px;
    width: 220px;
    margin: 0 20px;
  }

  .little_pictures {
    height: 140px;
    overflow-y : hidden;
    overflow-x : scroll;
    white-space: nowrap;
  }

  #thumbnail {
    height: 140px;
  }

  .little_pictures p {
    margin: 0;
    padding: 5px 0;
  }

  .thumbnails img {
    height: 80px;
    width: 140px;
    padding: 0;
  }
