.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 25px;
  box-sizing: border-box;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #fff;
  position: relative;
}

.cyan {
  min-height: 100px;
  max-width: 560px;
  background: cyan;
  width: 100%;
}

.orange {
  min-height: 500px;
  background: orange;
  flex-flow: column;
  flex: 1 1 100px;
  margin-right: 20px;
}

.red {
  min-height: 500px;
  background: red;
  flex-flow: column;
  flex: 3 3 300px;
}

.purple {
  min-height: 500px;
  background: purple;
  flex-flow: column;
  flex: 1 1 100px;
  margin-left: 20px;
}

.blue {
  min-height: 100px;
  max-width: 560px;
  background: blue;
  width: 100%;
}

.black {
  height: 50px;
  width: 50px;
  background: black;
  position: absolute;
  top: 435px;
  left: 360px;
}
