.wrapper {
  width: 100%;
  max-width: 600px;
  padding: 25px;
  box-sizing: border-box;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  background: #ffffff;
  flex-wrap: wrap;
  position: relative;
}

header {
  min-height: 100px;
  max-width: 540px;
  background: cyan;
  width: 100%;
}

.orange {
  min-height: 500px;
  min-width: 100px;
  background: orange;
  flex-flow: column;
}

.red {
  min-height: 500px;
  width: 300px;
  background: red;
  flex-flow: column;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.purple {
  min-height: 500px;
  min-width: 100px;
  background: purple;
  flex-flow: column;
}

footer {
  min-height: 100px;
  max-width: 540px;
  background: blue;
  width: 100%;
}

.black {
  height: 50px;
  width: 50px;
  background: black;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
