body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 15%;
  background: #bbbbbb;
  display: flex;
  justify-content: space-around;
  padding:0;
}

aside {
  width: 20%;
  background: brown;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

  .aside1 {
    display: flex;
    height: 10em;
    width: 80%;
    background: white;
    border-radius: 20px;
  }

  .aside2 {
    display: flex;
    height: 10em;
    width: 80%;
    background: white;
    border-radius: 20px;
  }

  .aside3 {
    display: flex;
    height: 10em;
    width: 80%;
    background: white;
    border-radius: 20px;
  }

.flex-container {
  display: flex;
  background-color: white;
  flex-flow: column;
  margin: 0;
  width: 70%;
  height: 100%;
}

.boxone {
  background-color: red;
  min-width: 100px;
  height: 500px;
  justify-content: space-around;
  padding: 5%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

  .summary1 {
    background-color: yellow;
    width: 40%;
    height: 90%;
  }

  .summary2 {
    background-color: grey;
    width: 40%;
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
  }

    .level3a {
      background-color: purple;
      width: 80%;
      height: 40%;
      margin: 10% 0;
    }

    .level3b {
      background-color: green;
      width: 80%;
      height: 40%;
      margin: 10% 0;
      display: flex;
    }

      .level4a {
        background-color: cyan;
        width: 40%;
        margin: 10%;
      }

      .level4b {
        background-color: white;
        width: 40%;
        margin: 10%;
      }

.boxtwo {
  background-color: blue;
  min-width: 100px;
  min-height: 100px;
}

.boxthree {
  background-color: green;
  min-width: 100px;
  min-height: 100px;
}
