
body {}

div {

}

.apple {
  color: red;
  background-color: yellow;
  font-family: Times New Roman;
  font-size: 30px;
  border: 4px black solid;
  width: 200px;
  padding: 20px;
  margin: 30px 45px 10px 45px;
}

.pear {
  color: red;
  background-color: yellow;
  font-family: Times New Roman;
  font-size: 30px;
  border: 4px black solid;
  width: 200px;
  padding: 20px;
  margin: 10px 45px 10px 45px;
}

.melon {
  color: red;
  background-color: yellow;
  font-family: Times New Roman;
  font-size: 30px;
  border: 4px black solid;
  width: 200px;
  padding: 20px;
  margin: 10px 45px 47px 45px;
}
