
header {
  background: url("../anakin.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 60px;
  }

header h1 {
  color: #222;
  font-size: 48px;
  font-family: 'Abril Fatface', cursive;
  line-height: 50px;
  padding-left: 290px;
  padding-top: 320px;
}

header h1 span {
  font-size: 1.5em;
  line-height: 1.2em;
}

body, h1, p {
  margin: 0;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #222;
}

section {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  line-height: 1.7em;
  color: #222;
  width: 1000px;
  margin-left: 600px;
}

h2 {
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 55px;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

blockquote {
  font-family: 'Abril Fatface', cursive;
  width: 700px;
  font-size: 60px;
  background: #444444 url(../quote.png) no-repeat;
  text-align: left;
  color: #FFFFFF;
  margin: 55px auto;
  padding: 50px;
}

hr {
  width: 1200px;
  border: 2px solid;
}

h3 + p {
  font-size: 22px;
  letter-spacing: normal;
  line-height: 1.5em;
  margin: 30px 0px 40px 0px;
}

h3, h4 {
  margin: 0;
  padding: 0;
}

section > h4 {
  font-family: 'Abril Fatface', cursive;
  font-style: italic;
  font-size: 22px;
}
